html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



.backgoundGradient{
    background: rgb(2,0,36);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,17,136,0.9534534534534534) 99%, rgba(0,212,255,1) 100%);
}

.ImgContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

.ImgContent img{
    width: 500px;
    border-radius: 10px;
}

.ImgContent button{
    cursor: pointer;
    font-size: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,120,125,0.9534534534534534) 29%, rgba(0,212,255,1) 100%);
    color: white;
}

.circle{
    background-color: white;
    padding: 5px;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 5px;
}
.circle:nth-child(1){
    background-color: white;
}
.circle:nth-child(2){
    background-color: white;
}
.circle:nth-child(3){
    background-color: white;
}